h1 {
  font-size: 250%;
}
h2, h3 {
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  font-size: 100%;
}
/* everywhere else */
* {
  font-size: 100%;
}
agm-map {
  height: 300px;
}
